.container {
    display: flex;
    flex-direction: column;
    margin: 15px
}

.btn {
    height: 30%
}

.Loading {
    margin-top: 150px;
    margin-bottom: 50px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}