.text {
    color: white;
    font-weight: 800;
    text-shadow: 1px black;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    font-size: 30px;
}