.container {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
}

.TitleGame {
    margin-top: 80px;
    margin-bottom: 50px;
    height: 100px;
}

.cell {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    height: 300px;
    max-width: 100%;
    margin: 10px;
    gap: .5rem;
    padding: 1rem;
}

.board {
    margin: 15px;

}

.box {
    height: 100%
}

.btn {
    margin-left: 100px;
    margin-right: 100px;
}

.img {
    height: 70px;
}

.btnWin {

    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}