.container {
    display: flex;
    flex-direction: column;
    margin: 15px;
    height: 95dvh
}

.BackButton {
    height: 30%;
    color: #FBB500
}

.input {
    height: 120px;
}

.loading {
    margin-top: 30px;
    margin-bottom: 30px;
}

.p {
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    border: none;
    color: #CDCDCD;
    font-weight: 800;
    font-size: 70px;
    text-align: center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    letter-spacing: 15px;
}